<a href="https://colab.research.google.com/github/Apes-channel/credit-scoring-course-udemy/blob/main/S001/S001_02_Quick_tips_on_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading basic libraries

In [1]:
import pandas as pd
import numpy as np

# Preparing your Colab to download data from Kaggle

Steps for downloading datasets from kaggle to Colab here: https://www.kaggle.com/general/74235

In [2]:
!pip install -q kaggle

In [4]:
from google.colab import files

In [6]:
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"apeschannel","key":"ce7f0a196a1a0f7f197df35b15fab211"}'}

In [7]:
!mkdir ~/.kaggle

mkdir: cannot create directory ‚Äò/root/.kaggle‚Äô: File exists

In [8]:
!cp kaggle.json ~/.kaggle/

In [9]:
!chmod 600 ~/.kaggle/kaggle.json

In [10]:
!kaggle datasets list

ref                                                                   title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
arnabchaki/data-science-salaries-2023                                 Data Science Salaries 2023 üí∏                         25KB  2023-04-13 09:55:16          30369        833  1.0
tawfikelmetwally/automobile-dataset                                   Car information dataset                               6KB  2023-05-28 18:26:48           3079         86  0.9411765
fatihb/coffee-quality-data-cqi                                        Coffee Quality Data (CQI May-2023)                   22KB  2023-05-12 13:06:39           5403        112  1.0
mohithsairamreddy/salary-data                                         Salary_Data                                          17KB  2023-05-18 14:05:19           5312        103  0.88235295
mauryansshivam/netflix-ott-revenue-and-subscribers-csv-file           Netflix OTT Revenue and Subscribers (CSV File)        2KB  2023-05-13 17:40:23           2676         61  1.0
omarsobhy14/mcdonalds-revenue                                         üçüüí∞From Flipping Burgers to Billions: McDonald's      565B  2023-06-01 23:22:49            652         30  1.0
drahulsingh/list-of-best-selling-ps4-games                            List of best-selling PlayStation 4 video games        2KB  2023-06-11 17:36:59            529         22  1.0
zsinghrahulk/rice-pest-and-diseases                                   Rice - Pest and Diseases                            312KB  2023-06-01 08:57:29            631         29  1.0
iammustafatz/diabetes-prediction-dataset                              Diabetes prediction dataset                         734KB  2023-04-08 06:11:45          15859        232  1.0
vstacknocopyright/fruit-and-vegetable-prices                          Fruit and Vegetable Prices                            1KB  2023-06-02 06:17:43           1042         32  0.7647059
bilalwaseer/microsoft-stocks-from-1986-to-2023                        Microsoft Stocks from 1986 to 2023                  120KB  2023-05-16 10:07:28           1020         30  1.0
darshanprabhu09/stock-prices-for                                      Stock prices of Amazon , Microsoft , Google, Apple   85KB  2023-05-16 15:17:16           2102         46  1.0
rajkumarpandey02/2023-world-population-by-country                      World Population by Country                         38KB  2023-06-01 06:10:41           1913         38  1.0
danishjmeo/karachi-housing-prices-2023                                Karachi_Housing_Prices_2023                           1MB  2023-06-01 07:08:13            531         28  0.9411765
adityaramachandran27/world-air-quality-index-by-city-and-coordinates  World Air Quality Index by City and Coordinates     372KB  2023-05-07 07:29:26           2063         44  1.0
dansbecker/melbourne-housing-snapshot                                 Melbourne Housing Snapshot                          451KB  2018-06-05 12:52:24         117837       1282  0.7058824
pushpakhinglaspure/oscar-dataset                                      Oscar Academy Award-winning films 1927-2022         161KB  2023-05-21 18:14:44            886         32  1.0
aryansingh0909/weekly-patent-application-granted                      Patent Application Granted Dataset                    6MB  2023-06-01 19:04:40            391         25  1.0
krishnaraj30/salary-prediction-data-simple-linear-regression          Salary Prediction Data - Simple linear regression    734B  2023-06-05 01:05:41            488         24  1.0
utkarshx27/heart-disease-diagnosis-dataset                            Heart Disease Prediction Dataset                      3KB  2023-05-26 09:33:13           1405         38  1.0

In [11]:
!kaggle datasets download -d dansbecker/aer-credit-card-data

Downloading aer-credit-card-data.zip to /content
  0% 0.00/23.6k [00:00<?, ?B/s]
100% 23.6k/23.6k [00:00<00:00, 48.1MB/s]

In [12]:
!mkdir train

In [13]:
! unzip aer-credit-card-data.zip -d .

Archive:  aer-credit-card-data.zip
  inflating: ./AER_credit_card_data.csv

In [14]:
df_credit = pd.read_csv('AER_credit_card_data.csv')

In [15]:
df_credit.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [19]:
df_credit.to_csv('AER_credit_card_data.csv',index=False)

In [21]:
!cp AER_credit_card_data.csv "drive/My Drive/Credit-Scoring-Course-Udemy/S001/"

# Inspecting the DataFrame

In [ ]:
df_credit.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5

In [ ]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
card           1319 non-null object
reports        1319 non-null int64
age            1319 non-null float64
income         1319 non-null float64
share          1319 non-null float64
expenditure    1319 non-null float64
owner          1319 non-null object
selfemp        1319 non-null object
dependents     1319 non-null int64
months         1319 non-null int64
majorcards     1319 non-null int64
active         1319 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 123.8+ KB

In [ ]:
df_credit.shape

(1319, 12)

In [ ]:
df_credit.shape[0]

1319

In [ ]:
df_credit.describe(include='all')

        card      reports          age  ...       months   majorcards       active
count   1319  1319.000000  1319.000000  ...  1319.000000  1319.000000  1319.000000
unique     2          NaN          NaN  ...          NaN          NaN          NaN
top      yes          NaN          NaN  ...          NaN          NaN          NaN
freq    1023          NaN          NaN  ...          NaN          NaN          NaN
mean     NaN     0.456406    33.213103  ...    55.267627     0.817286     6.996967
std      NaN     1.345267    10.142783  ...    66.271746     0.386579     6.305812
min      NaN     0.000000     0.166667  ...     0.000000     0.000000     0.000000
25%      NaN     0.000000    25.416670  ...    12.000000     1.000000     2.000000
50%      NaN     0.000000    31.250000  ...    30.000000     1.000000     6.000000
75%      NaN     0.000000    39.416670  ...    72.000000     1.000000    11.000000
max      NaN    14.000000    83.500000  ...   540.000000     1.000000    46.000000

[11 rows x 12 columns]

In [ ]:
df_credit.describe(include='all').T

## Modifying the DataFrame

### Slicing a DataFrame

In [ ]:
df_credit[df_credit.owner=='yes'].head()

  card  reports       age  income  ...  dependents  months majorcards active
0  yes        0  37.66667  4.5200  ...           3      54          1     12
2  yes        0  33.66667  4.5000  ...           4      58          1      5
4  yes        0  32.16667  9.7867  ...           2      64          1      5
7  yes        0  29.16667  2.3700  ...           0      77          1      3
8  yes        0  37.00000  3.8000  ...           0      97          1      6

[5 rows x 12 columns]

In [ ]:
df_credit[df_credit.owner=='yes'].shape

(581, 12)

In [ ]:
df_credit[['age','income']].head()

        age  income
0  37.66667  4.5200
1  33.25000  2.4200
2  33.66667  4.5000
3  30.50000  2.5400
4  32.16667  9.7867

### New columns

In [ ]:
df_credit.columns

Index(['card', 'reports', 'age', 'income', 'share', 'expenditure', 'owner',
       'selfemp', 'dependents', 'months', 'majorcards', 'active'],
      dtype='object')

In [ ]:
df_credit['income_per_capta'] = df_credit['income'] / (1+df_credit['dependents'] )
df_credit['income_per_capta'].describe()

count    1319.000000
mean        2.155597
std         1.363510
min         0.070000
25%         1.200000
50%         1.875000
75%         2.700000
max        11.000000
Name: income_per_capta, dtype: float64

In [ ]:
df_credit.columns

Index(['card', 'reports', 'age', 'income', 'share', 'expenditure', 'owner',
       'selfemp', 'dependents', 'months', 'majorcards', 'active',
       'income_per_capta'],
      dtype='object')