<a href="https://colab.research.google.com/github/Apes-channel/credit-scoring-course-udemy/blob/main/S001/S001_02_Quick_tips_on_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mounting Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
cd drive/My\ Drive/Cursos_Udemy/Credit\ Scoring\ and\ Credit\ Risk\ Modelling\ with\ Python/S001

[Errno 2] No such file or directory: 'drive/My Drive/Cursos_Udemy/'
/content/drive/My Drive

## Importing Pandas

In [ ]:
import pandas as pd

## Reading CSV file and inspecting the DataFrame

In [ ]:
df_credit = pd.read_csv('AER_credit_card_data.csv')

In [ ]:
df_credit.head()

  card  reports       age  income  ...  dependents  months majorcards active
0  yes        0  37.66667  4.5200  ...           3      54          1     12
1  yes        0  33.25000  2.4200  ...           3      34          1     13
2  yes        0  33.66667  4.5000  ...           4      58          1      5
3  yes        0  30.50000  2.5400  ...           0      25          1      7
4  yes        0  32.16667  9.7867  ...           2      64          1      5

[5 rows x 12 columns]

In [ ]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
card           1319 non-null object
reports        1319 non-null int64
age            1319 non-null float64
income         1319 non-null float64
share          1319 non-null float64
expenditure    1319 non-null float64
owner          1319 non-null object
selfemp        1319 non-null object
dependents     1319 non-null int64
months         1319 non-null int64
majorcards     1319 non-null int64
active         1319 non-null int64
dtypes: float64(4), int64(5), object(3)
memory usage: 123.8+ KB

In [ ]:
df_credit.shape

(1319, 12)

In [ ]:
df_credit.shape[0]

1319

In [ ]:
df_credit.describe(include='all')

        card      reports          age  ...       months   majorcards       active
count   1319  1319.000000  1319.000000  ...  1319.000000  1319.000000  1319.000000
unique     2          NaN          NaN  ...          NaN          NaN          NaN
top      yes          NaN          NaN  ...          NaN          NaN          NaN
freq    1023          NaN          NaN  ...          NaN          NaN          NaN
mean     NaN     0.456406    33.213103  ...    55.267627     0.817286     6.996967
std      NaN     1.345267    10.142783  ...    66.271746     0.386579     6.305812
min      NaN     0.000000     0.166667  ...     0.000000     0.000000     0.000000
25%      NaN     0.000000    25.416670  ...    12.000000     1.000000     2.000000
50%      NaN     0.000000    31.250000  ...    30.000000     1.000000     6.000000
75%      NaN     0.000000    39.416670  ...    72.000000     1.000000    11.000000
max      NaN    14.000000    83.500000  ...   540.000000     1.000000    46.000000

[11 rows x 12 columns]

In [ ]:
df_credit.describe(include='all').T

## Modifying the DataFrame

### Slicing a DataFrame

In [ ]:
df_credit[df_credit.owner=='yes'].head()

  card  reports       age  income  ...  dependents  months majorcards active
0  yes        0  37.66667  4.5200  ...           3      54          1     12
2  yes        0  33.66667  4.5000  ...           4      58          1      5
4  yes        0  32.16667  9.7867  ...           2      64          1      5
7  yes        0  29.16667  2.3700  ...           0      77          1      3
8  yes        0  37.00000  3.8000  ...           0      97          1      6

[5 rows x 12 columns]

In [ ]:
df_credit[df_credit.owner=='yes'].shape

(581, 12)

In [ ]:
df_credit[['age','income']].head()

        age  income
0  37.66667  4.5200
1  33.25000  2.4200
2  33.66667  4.5000
3  30.50000  2.5400
4  32.16667  9.7867

### New columns

In [ ]:
df_credit.columns

Index(['card', 'reports', 'age', 'income', 'share', 'expenditure', 'owner',
       'selfemp', 'dependents', 'months', 'majorcards', 'active'],
      dtype='object')

In [ ]:
df_credit['income_per_capta'] = df_credit['income'] / (1+df_credit['dependents'] )
df_credit['income_per_capta'].describe()

count    1319.000000
mean        2.155597
std         1.363510
min         0.070000
25%         1.200000
50%         1.875000
75%         2.700000
max        11.000000
Name: income_per_capta, dtype: float64

In [ ]:
df_credit.columns

Index(['card', 'reports', 'age', 'income', 'share', 'expenditure', 'owner',
       'selfemp', 'dependents', 'months', 'majorcards', 'active',
       'income_per_capta'],
      dtype='object')